.pincode-input-container {
  .pincode-input-text {
    width: 43px !important;
    height: 47px !important;
    background: rgba(170, 170, 170, 0.2) !important;
    border: none !important;
    border-radius: 10px !important;
    color: white;
    font-size: 18px;
  }
  .pincode-input-text:focus {
    outline: none;
    box-shadow: none;
  }
}
.connect-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.isActive {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
.btn-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-card {
  margin: 67px auto !important;
}
.main-container-wrapper {
  padding: 95px;
}
